# Django
DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings.development  # Use config.settings.production for prod
ALLOWED_HOSTS=localhost,127.0.0.1  # e.g. precept.online for production

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0
REDIS_SESSIONS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/2
CELERY_RESULT_BACKEND=redis://redis:6379/1

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000  # e.g. https://precept.online for production

# Frontend (baked into Next.js at build time in production)
NEXT_PUBLIC_API_URL=http://localhost:8000/api  # e.g. https://precept.online/api
NEXT_PUBLIC_WS_URL=ws://localhost:8001/ws  # e.g. wss://precept.online/ws
